-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "public"."Profile" (
    "id" TEXT NOT NULL,
    "clerk_user_id" TEXT,
    "full_name" TEXT,
    "phone_number" TEXT,
    "role" TEXT NOT NULL DEFAULT 'citizen',
    "preferred_language" TEXT NOT NULL DEFAULT 'en',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Profile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Complaint" (
    "id" TEXT NOT NULL,
    "clerk_user_id" TEXT,
    "text" TEXT NOT NULL,
    "category" TEXT,
    "location_latitude" DOUBLE PRECISION,
    "location_longitude" DOUBLE PRECISION,
    "image_url" TEXT,
    "priority" TEXT,
    "status" TEXT NOT NULL DEFAULT 'submitted',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Complaint_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Profile_clerk_user_id_key" ON "public"."Profile"("clerk_user_id");

-- AddForeignKey
ALTER TABLE "public"."Complaint" ADD CONSTRAINT "Complaint_clerk_user_id_fkey" FOREIGN KEY ("clerk_user_id") REFERENCES "public"."Profile"("clerk_user_id") ON DELETE SET NULL ON UPDATE CASCADE;

